header{
    width: 100vw;
    height: 25vh;
    
}

body{
    text-align: right;
    direction: rtl;
}
.btn{
    margin: 15px;
    margin-left: 15px;
    padding: 10px;
}
.Pname{
    text-align: center;
    color: grey;
    
}
.logo img{
    margin-right: 35px;
}
.navbar{
    margin-top: 30px;
    height: 100px;
    padding-right: 30px;
    padding-left: 30px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: bold;
    display: flex;
}
.navbar ul{
    margin-left: 300px;
}
.navbar ul li{
    display: inline-block;
    flex-direction: row;
    margin-bottom: -20px;
    padding: 20px; 
    text-decoration: none;
}
.container{
    width: 90%;
    display: flex;
	flex-wrap: wrap;
}
.half{	
	width: 45%;
    height: 80vh;
}
.half img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pageTitle{
    text-align: center;
    
    
}
footer{
    direction: ltr;
    text-align: center;
    background-color: #232629;   
    color:white;
    height: 10vh;
    padding-top: 10px;
}